################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/eConnect/.vs/eConnect
/eConnect/eConnect/bin
/eConnect/eConnect/obj/Debug
*.user
/eConnect/packages
